<!-- ../../../../assets/assest/banners/1.png -->


<!-- <div class="carousel">
  <div class="carousel-track">
    <img src="../../../../assets/assest/banners/1.png" alt="" />
    <img src="../../../../assets/assest/banners/2.png" alt="" />
    <img src="../../../../assets/assest/banners/3.png" alt="" />
    <img src="../../../../assets/assest/banners/4.png" alt="" />
  </div>
</div> -->

<head>
  <title>Fully fluid, responsive CSS carousel</title>
</head>
<div class="carousel">

  <ul class="panes">

    <li>
      <h2><span  class="image-comtemt">Çeşitleriyle Göz Alamayacağınız Altın Koleksiyonları...</span> </h2>
      <img src="../../../../assets/assest/banners/1.png" alt="" />
    </li>
    <li>
      <h2><span  class="image-comtemt">Altın ve Döviz İşlemlerinde Uzman Ekibimizle Yanınızdayız.</span> </h2>
      <img src="../../../../assets/assest/banners/2.png" alt="" />
    </li>
    <li>
      <h2><span class="image-comtemt">Paranızın Ve Güveninizin Tam Karşılığı...</span> </h2>
      <img src="../../../../assets/assest/banners/3.png" alt="" />
    </li>
    <li>
      <h2><span class="image-comtemt">Altın Bozdururken ve Alırken Yüksek Değer Kayıplarını Unutun.</span> </h2>
      <img src="../../../../assets/assest/banners/4.png" alt="" />
    </li>

  </ul>

</div>
