<footer class="footer-section">
  <div class="container">
      <div class="footer-cta pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-map-marker-alt"></i>
                      <div class="cta-text">
                          <h4>Adresimiz</h4>
                          <span>ASYILDIZ YETKİLİ MÜESSESE A.Ş. Merkez
                            Kayışdağı Cad. No:75/A K.Bakkalköy-Ataşehir/İST.</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-phone"></i>
                      <div class="cta-text">
                          <h4>İletişim Numaramız</h4>
                          <span><a href="tel:+90216 574 44 00">0216 574 44 00</a> </span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="far fa-envelope-open"></i>
                      <div class="cta-text">
                          <h4>Mail Adresimiz </h4>
                          <span><a href="mailto: asyildiz@asyildizgrup.com"> asyildiz@asyildizgrup.com</a></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-content pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                      <div class="footer-logo">
                          <a href="index.html"><img src="../../../../assets/assest/logos/darklogo.png" class="img-fluid" alt="logo"></a>
                      </div>
                      <div class="footer-text">
                          <p>30 yıllık liderliğimiz ile güvene ve dürüstlük ilkelerinin ışığında en iyi hizmeti sunmayı değerli müşterilerimize sürdürmekteyiz.</p>
                      </div>
                      <!-- <div class="footer-social-icon">
                          <span>Follow us</span>
                          <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                          <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                          <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                      </div> -->
                  </div>
              </div>
              <div class="col-xl-3 col-md-4 mb-30">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Bilgi Toplumu</h3>
                      </div>
                      <ul>
                          <li><a href="../../../../assets/assest/pdf/asyildiz-bagimsiz-denetim-raporu2022.pdf" target="_blan">Asyıldız Yetkili Müessese A.Ş. Bağımsız Denetim Raporu</a></li>
                          <li><a href="../../../../assets/assest/pdf/asyildiz-uyum-politikasi.pdf "            target="_blan">Asyıldız Yetkili Müessese A.Ş. Kurumsal Uyum Politikası</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Sayfalarımız</h3>
                      </div>
                      <div class="subscribe-form">
                        <ul>
                          <li><a routerLink="/">ANA SAYFA</a></li>
                          <li><a routerLink="about">KURUMSAL</a></li>
                          <li><a href="#">CANLI PİYASA</a></li>
                          <li><a routerLink="ourstores">MAĞAZALARIMIZ</a></li>
                          <li><a routerLink="services">HİZMETLERİMİZ</a></li>
                          <li><a routerLink="contact">İLETİŞİM</a></li>
                      </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2018, All Right Reserved  <a href="http://aifasoft.com" target="_blank"> AIFA SOFT </a> | {{date| date:"yyyy"}}</p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                          <!-- <li><a href="#">Asyıldız Yetkili Müessese A.Ş. Bağımsız Denetim Raporu</a></li>
                          <li><a href="#">Asyıldız Yetkili Müessese A.Ş. Kurumsal Uyum Politikası</a></li> -->
                          <li><a href="http://www.aifasoft.com/privacy-policy" target="_blank">Privacy</a></li>
                          <li><a target="_blank">|</a></li>
                          <li><a href="http://www.aifasoft.com/privacy-policy" target="_blank">Policy</a></li>
                          <li><a target="_blank">|</a></li>
                          <li><a href="http://www.aifasoft.com/"               target="_blank">İletişim</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
