<div id="parallax-world-of-ugg">

  <section>
    <div class="title">
      <h3>BİZİM</h3><br>
      <h1>HAKKIMIZDA</h1><br>

    </div>
  </section>

  <section>
    <div class="parallax-one">
      <h2>HEM AVRUPA</h2>
    </div>
  </section>

  <section>
    <div class="block" style="width: 55%;">
      <p><span class="first-character sc">I</span> 1992 yılında Döviz sektörüne girerek ticari hayatına başlayan
        ASYILDIZ GRUP , 1997 yılında Küçükbakkalköy/ATAŞEHİR de ASYILDIZ DÖVİZ ve ALTIN TİC.A.Ş yi açtı. Müşteri
        memnuniyeti ve dürüstlük ilkelerinin ışığın da emin adımlarla büyüyerek 2000 li yılların başında
        K.Bakkalköy/Ataşehir de Altın, Pırlanta, Mücevherat sektörünün büyüklerinden ATASAY markası ile ATASAY YILDIZ
        KUYUMCULUK firmamızı kurduk.
        İstikrarlı büyümemizi sürdürerek 2012 yılında BUYAKA Alış Veriş Merkezinde ikinci Döviz Büromuz olan Özbıyık
        Döviz Yetkili Müessese AŞ. yi hizmete açtık.
      </p>
      <p class="line-break margin-top-10"></p>
      <p class="margin-top-10">2013 yılın da yatırımlarımıza devam ederek BRANDİUM Alış Veriş Merkezin de ATASAY -
        ASYILDIZ MÜCEVHERAT TİC.LTD. hizmete açtık. 2019 yılı içerisinde VIAPORT AVM ve METROPOL AVM deki şubelerimizi
        faaliyete geçirdik.</p>
    </div>
  </section>

  <section>
    <div class="parallax-two">
      <h2>HEM ANADOLU</h2>
    </div>
  </section>

  <section>
    <div class="block" style="width: 55%;">
      <p><span class="first-character ny">U</span>zun yıllardır sürdürdüğü ticari hayatında, öz sermayesi , manevi
        değerlere saygısı , müşterilerinin güvenini kazanmış olan yapısı, kurumsal firmalar ile olan çalışmaları ve iş
        tercübesi ile her zaman Döviz ve Altın sektörünün büyük firmaları arasında yer alan ASYILDIZ GRUP yeni
        yatırımları ile istikrarlı büyümesine devam edecektir.</p>
      <p class="line-break margin-top-10"></p>
      <p class="margin-top-10">Sizlerin hizmetinde devam ederak öz sermayesi , manevi değerlere saygısı , müşterilerinin
        güvenini kazanmış olan yapısını bozmadan önce tüm İstnabul sonra ise tüm Türkiyede müşterilerimize hizmet
        vermeye devam edeceğiz.</p>
    </div>
  </section>
  <section>

    <h1 style="font-size: 50px; text-align:center;">GALERİ KÖŞEMİZ</h1>

  </section>
  <section>
    <div class="container">
      <div class="carousel">
        <input type="radio" name="slides" checked="checked" id="slide-1">
        <input type="radio" name="slides" id="slide-2">
        <input type="radio" name="slides" id="slide-3">
        <input type="radio" name="slides" id="slide-4">
        <input type="radio" name="slides" id="slide-5">
        <input type="radio" name="slides" id="slide-6">
        <input type="radio" name="slides" id="slide-7">
        <input type="radio" name="slides" id="slide-8">
        <input type="radio" name="slides" id="slide-9">
        <input type="radio" name="slides" id="slide-10">
        <ul class="carousel__slides">
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="../../../../assets/assest/about/1.jpg" alt="">
              </div>
              <!-- <figcaption>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <span class="credit">Lorem ipsum dolor sit</span>
              </figcaption> -->
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="../../../../assets/assest/about/2.jpg" alt="">
              </div>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="../../../../assets/assest/about/3.jpg" alt="">
              </div>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="../../../../assets/assest/about/4.jpg" alt="">
              </div>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="../../../../assets/assest/about/5.jpg" alt="">
              </div>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="../../../../assets/assest/about/6.jpg" alt="">
              </div>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="../../../../assets/assest/about/7.jpg" alt="">
              </div>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="../../../../assets/assest/about/8.jpg" alt="">
              </div>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="../../../../assets/assest/about/9.jpg" alt="">
              </div>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="../../../../assets/assest/about/10.jpg" alt="">
              </div>
            </figure>
          </li>
        </ul>
        <ul class="carousel__thumbnails">
          <li>
            <label for="slide-1"><img src="../../../../assets/assest/about/1.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-2"><img src="../../../../assets/assest/about/2.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-3"><img src="../../../../assets/assest/about/3.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-4"><img src="../../../../assets/assest/about/4.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-5"><img src="../../../../assets/assest/about/5.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-6"><img src="../../../../assets/assest/about/6.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-7"><img src="../../../../assets/assest/about/7.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-8"><img src="../../../../assets/assest/about/8.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-9"><img src="../../../../assets/assest/about/9.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-10"><img src="../../../../assets/assest/about/10.jpg" alt=""></label>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="title">
      <h3>MOBİL UYGULAMAMIZI</h3><br>
      <h1>İNCELEDİNİZ <br> <br> MI?</h1>
    </div>
  </section>
  <div style="margin-top: 5em;">
    <div>
      <div class="row g-0 h-100">
        <div class="col-12 pr    ">
          <div class="pritem h-100 container-fluid">
            <div class="g-0 row">
              <div class="col-md-8 col-sm-6">
                <div class="wItem">
                  <div class="">
                    <div class="mt-4" style="width: 50%; margin-left:30%; position: relative;">
                      <p><span style="font-size: 12pt;">Tüm mobil platformlardan sunduğumuz anlık
                          fiyatlarla ile altın, döviz , parite ve ziynet ürünlerini görebildiğiniz , Pörtföy imkanı
                          sunan, Çeviri ekranıyla kendi paritelerini oluşturabildiğiniz ve fiyatları anlık grafiklerle
                          takip edebildiğiniz bir mobil uygulamamız tüm mağzalarda ücretsiz indirebilirsiniz.</span></p>
                      <p><span style="font-size: 12pt;  "><span
                            style="color: rgb(140, 118, 77); text-decoration: inherit;">PORTFÖY</span></span><br></p>
                      <p><span style="font-size: 12pt;">Portföy, gerçek veya tüzel kişilerin yatırım yapmak ve kazanç
                          sağlamak amacıyla elinde tuttuğu ve istediği gibi tasarruf ettiği nakit para, döviz, altın,
                          ziynet gibi yatırım araçlarının toplam değeridir. Kar ve zararınızı ortaya çıkararak en doğru
                          pozisyonu alabilirsiniz.</span></p>
                      <p><span style="font-size: 12pt;  "><span
                            style="color: rgb(140, 118, 77); text-decoration: inherit;">ÇEVİRİ</span></span><br></p>
                      <p><span style="font-size: 12pt;">Anlık fiyatlar ile kendi paritelerinizi oluşturabildiğiniz,
                          güncel döviz kurlarını birbirleriyle karşılaştırabilir ve fiyatları hesaplayarak doğru
                          bilgilere ulaşabilirsiniz.</span></p>
                      <p><span style="font-size: 12pt;  "><span
                            style="color: rgb(140, 118, 77); text-decoration: inherit;">FAVORİ</span></span><br></p>
                      <p><span style="font-size: 12pt;">Özellikle takip ettiğiniz döviz, altın , parite ve ziynet
                          ürünlerini sizin için daha kolay erişilebilir hale getirir.</span></p>
                      <p><span style="font-size: 12pt;  "><span
                            style="color: rgb(140, 118, 77); text-decoration: inherit;">GRAFİK</span></span><br></p>
                      <p><span style="font-size: 12pt;">Döviz , altın , parite ve ziynet ürünlerini grafik ile takip
                          ederek analizini üst düzeye taşıyın.</span></p>
                      <p><span style="font-size: 12pt;  "><span
                            style="color: rgb(140, 118, 77); text-decoration: inherit;">İLETİŞİM</span></span><br></p>
                      <p><span style="font-size: 12pt;">İletişim ekranı ile güncel konum ve telefon numaralarına
                          erişin.</span></p>
                      <p><span style="font-size: 12pt;  "><span
                            style="color: rgb(140, 118, 77); text-decoration: inherit;">GÖRÜNÜM
                            MODLARI</span></span><br></p>
                      <p><span style="font-size: 12pt;">Mobil uygulamanız üzerinden isteğinize göre koyu ya da aydınlık
                          temayı kullanabilirsiniz.</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12" style="text-align: unset; align-items: center; justify-items: center;">
                <div class="wItem">
                  <div class="   ">
                    <div><img class="responsiveimg" src="../../../../assets/assest/image/mobile.png"
                        style="width: 65%;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
<br><br><br>
