@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

.card {
  height:15rem;
  width: 15rem;
  border-radius: 0.75rem;
}


.card-title {
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Noto Sans SC', sans-serif;
}
strong{
  font-weight: 900;
}


// drag-scroll {
//   height: 20rem;
//   width: 100%;
// }
