<div class="wrapper">
  <section id="home" class="sec-main">
    <h1 class="main-heading">SİZLERİN TAKDİRİYLE EN İYİ HİZMETİ VERMEKTEYİZ </h1>
  </section>

  <section id="about" class="sec-about">
    <div class="container">

      <hr />

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p> 30 yıllık tecrübe ve memnuniyet ile sizlerin prensiplerimiz ve vizyonumuz ile hizmet vermeye devam
            etmekteyiz. Uzun yıllardır sürdürdüğü ticari hayatında, öz sermayesi , manevi değerlere saygısı ,
            müşterilerinin
            güvenini kazanmış olan yapısı, kurumsal firmalar ile olan çalışmaları ve iş tercübesi ile her zaman Döviz ve
            Altın sektörünün büyük firmaları arasında yer alan ASYILDIZ GRUP yeni yatırımları ile istikrarlı büyümesine
            devam edecektir.
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="sec-services">
    <hr style="width:100% ;">

    <div class="container">

      <h1>HİZMETLERİMİZ</h1>

      <div class="row">
        <div class="col-sm-4">
          <i class="material-icons" style="font-size: 3em;">money</i>


          <h2 class="h3">DÖVİZ İŞLEMLERİ</h2>
          <ul>
            <li> - Her cins döviz alım satımı</li>
            <li> - Albitraj İşlemleri</li>
            <li> - Kapalıçarşı serbest piyasa fiyatlarının uygulanması</li>
            <li> - Döviz alım satım işlemlerinin internet aracılığı müşterilerimizin bankalarındaki hesaplarına
              yapılması ve adrese teslim imkanı.</li>
          </ul>
        </div>

        <div class="col-sm-4">
          <i class="material-icons" style="font-size: 3em;">image_aspect_ratio</i>
          <h2 class="h3">ALTIN İŞLEMLERİ</h2>
          <ul>
            <li> -Pırlanta , takı , mücevherat alım satımı. </li>
            <li> - Sarrafiye alım satımı ( Cumhuriyet altını, yarım, çeyrek, gremse, reşat , beşibiryerde ) </li>
            <li> - Yatırımlık altın alım satımı (Külçe , gram) </li>
          </ul>
        </div>

        <div class="col-sm-4">
          <i class="material-icons" style="font-size: 3em;">cast_connected</i>


          <h2 class="h3">FİYAT YAYINCILIĞI</h2>
          <ul>
            <li> - Android mobil cihazlar için Play Store ücretsiz fiyat takip uygulaması.</li>
            <li> - IOS mobil cihazlar için App Store ücretsiz fiyat takip uygulaması.</li>
            <li> - Web sitemizde anlık (CANLI PİYASA) fiyat takibi.</li>
          </ul>
        </div>

      </div>
    </div>
  </section>
  <hr style="width:100% ;">
  <section id="folio" class="sec-folio">
    <div class="container">
      <hr />
      <div class="row">
        <div class="col-md-4">
          <img class="center-block" src="../../../../assets/assest/banners/1-1.jpeg" />
        </div>
        <div class="col-md-4">
          <img class="center-block" src="../../../../assets/assest/banners/2-1.jpeg" />
        </div>
        <div class="col-md-4">
          <img class="center-block" src="../../../../assets/assest/banners/3-1.jpeg" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img class="center-block" src="../../../../assets/assest/banners/4-1.jpeg" />
        </div>
        <div class="col-md-4">
          <img class="center-block" src="../../../../assets/assest/banners/5-1.jpeg" />
        </div>
        <div class="col-md-4">
          <img class="center-block" src="../../../../assets/assest/banners/6-1.jpeg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img class="center-block" src="../../../../assets/assest/banners/7-1.jpeg" />
        </div>
        <div class="col-md-4">
          <img class="center-block" src="../../../../assets/assest/banners/8-1.jpeg" />
        </div>
        <div class="col-md-4">
          <img class="center-block" src="../../../../assets/assest/banners/9-1.jpg" />
        </div>
      </div>
    </div>
  </section>
</div>
