<header [ngClass]="{'darkmode': this.isDarkMode== true,'lightmode': this.isDarkMode== false}">
  <div id="nav-head">
    <div id="logo" [ngClass]="{'darkimage': this.isDarkMode== true,'lightimage': this.isDarkMode== false}"></div>
    <div id="logo"></div>
    <label for="menu-toggle">
      <div class="toggle-icon">
        <mat-icon>menu</mat-icon>
      </div>
    </label>
  </div>
  <input type="checkbox" id="menu-toggle">
  <ul class="nav-links">
    <li><a routerLink="/home">ANA SAYFA</a>
    <li><a routerLink="/about" >KURUMSAL</a>
    <li><a routerLink="/pricelive">CANLI PİYASA</a>

    </li>
    <li><a routerLink="/ourstores" >MAĞAZALARIMIZ</a></li>
    <li><a routerLink="/services"  >HİZMETLERİMİZ</a></li>
    <li><a routerLink="/contact" >İLETİŞİM</a>
    </li>
    <li>
      <mat-slide-toggle (click)="toggleDarkMode()" [(ngModel)]="isDarkMode"></mat-slide-toggle>
    </li>
  </ul>
</header>
