$darkbackColor: #333;;
$darktextColor: #101010;
$lightbackColor: #ececec;
$lighttextColor: #ececec;

*,
*:before,
*:after {
  box-sizing: inherit;
}

td,
th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
  border: none;
}

table {

  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  border: none;
}

.card {
  overflow: scroll;
  overflow-x: scroll;
  position: relative;
  // burada scroll kapatıp eski görünümünü sağlamak için tabla boyutu ile oynamış bulunmaktayım. Ancak tekrar eds yeni bir sembol eklenirse patlar....
  height: 53em;
  // overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-family: 'Roboto', san-serif;
  margin: 0.5rem 0 0rem 0;
  transition: box-shadow .25s;
  border-radius: 2px;
  // box-shadow: 0 15px 14px 0 rgba(0, 0, 0, 0.16), 0 15px 15px 0 rgba(0, 0, 0, 0.12);
}


table.material-table tr td {
  height: 68px;
  // color: rgba(0, 0, 0, 0.87);
  border-bottom: solid 1px #DDDDDD;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: bolder;
}

table.material-table th {
  font-weight: bolder;
  // color: #000000;
  cursor: pointer;
  white-space: nowrap;
  height: 56px;
  // padding-left: 20px;
  vertical-align: middle;
  outline: none !important;
}

table td:first-child {
  padding: 0 0 0 24px;
}

thead {
  // color: black;
  border-bottom: 1px solid #ffffff;
  background-color: rgb(213, 213, 213);
  // color: rgb(0, 0, 0);
}

.table-header {
  height: 64px;
  // padding-left: 24px;
  // padding-right: 14px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-display: flex;
  border-bottom: solid 1px #DDDDDD;
}

table.material-table {

  th:last-child,
  td:last-child {
    padding: 0 14px 0 0;
  }

  th:first-child,
  td:first-child {
    padding: 0 0 0 24px;
  }
}

table tbody tr td:hover {
  // background-color: #EEE;
  color: #b79019;
}

.grid-all {
  color: white;
  padding: 0;
  text-align: start;
}

.grid-up {
  background-color: #3a9d37;
  color: white;
  margin-right: 3px;
  text-align: start;
}

.grid-down {
  background-color: #f25961;
  color: white;
  margin-right: 3px;
  text-align: start;
}

.grid-stabil {
  color: white;
  margin-right: 3px;
  text-align: start;
}
.bods {
  margin-top: 1em;
}
.darkmode {
  background-color:#131722;
  color: #B2B5BE;
  thead{
    background-color: rgb(173, 173, 173);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }

}

.lightmode {
  background-color:#ffffff;
  color: #000000;
  thead{
    background-color: rgb(173, 173, 173);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }


}

