<div class="wrapper">
  <hr>
  <p class="h1 text-center">Fiyatlarımızı Her Platformdan Takip Edebilirsiniz</p>
  <hr>
  <section class="display">
    <div class="mobile ui-draggable">
      <div class="trim">
        <iframe id="mobile" src="https://www.asyildizgrup.com/">
        </iframe>
      </div>
    </div>

    <div class="tablet ui-draggable">
      <div class="trim">
        <iframe id="tablet"           src="https://www.asyildizgrup.com/">
        </iframe>
      </div>
    </div>
    <div class="laptop ui-draggable">
      <div class="trim">
        <iframe id="laptop"         src="https://www.asyildizgrup.com/">
        </iframe>
      </div>
    </div>
    <div class="desktop ui-draggable">
      <div class="trim">
        <iframe id="desktop"        src="https://www.asyildizgrup.com/">
        </iframe>
      </div>
    </div>

  </section>
</div>
